.dFlex,
.main_content,
.main_content .card,
.main_content .card .card_header,
.btn,
.footer,
.footer .social,
.footer .social .fa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

body {
  /* overflow: hidden; */
  /* display: none; */
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 30px 50px 20px 50px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #272b34;
}

.img {
  border-radius: 10px;
  width: 200px;
  height: 200px;
}

.main_content {
  position: relative;
  width: 70%;
  height: 100%;
  margin: 50px auto;
  padding: 50px 0 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.main_content h3 {
  position: absolute;
  left: 0;
  top: 0;
  color: #2d343e;
  font-size: 10.5vw;
}

.main_content .card {
  width: 30%;
  border-radius: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-bottom: 50px;
}

.main_content .card .card_img {
  margin-top: -5vw;
}

.main_content .card .card_img img {
  width: 200px;
}

.main_content .card .card_header {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #fff;
  margin: 25px 0;
}

.main_content .card .card_header h2 {
  font-size: 20px;
}

.main_content .card .card_header p {
  font-size: 14px;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
  margin: 8px 0;
}

.main_content .card .card_header .itemDesc {
  font-size: 15px;
  color: black;
}

.main_content .card .card_header .itemName {
  font-size: 20px;
  color: black;
}

.main_content .card .card_header .price {
  font-size: 25px;
  color: #fe8033;
}

.itemDesc {
  color: black;
}

.main_content .card {
  border-width: 1px;
  border-color: #fe8033;
}

.main_content .card .card_header .price span {
  font-size: 15px;
  display: inline-block;
  vertical-align: top;
}

.main_content .card:hover {
  background-color: #2b3039;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  cursor: pointer;
  border-color: #2b3039;
}

.main_content .card:hover .btn {
  background-color: #fe8033;
  color: #fff;
}

.main_content .card:hover .card_header .itemName {
  color: #fff;
}

.main_content .card:hover .card_header .itemDesc {
  color: #fff;
}

.btn {
  width: 130px;
  height: 35px;
  font-size: 14px;
  border-radius: 35px;
  background-color: #2d343e;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  position: relative;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  overflow: hidden;
}
