nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  margin-left: 2rem;
}

input {
  padding: 12px 20px;
  border: none;
  background: #f7f6f6;
  outline: none;
  margin-right: 20px;
  border-radius: 5px;
  position: relative;
  width: 24rem;
}

.nav-icons {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 2rem;
  color: white;
  cursor: pointer;
}

body {
  align-items: unset;
  justify-content: start;
}

.profile-container {
  margin-left: auto;
  cursor: pointer;
}


.avatar {
  vertical-align: middle;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
