.userList {
  height: 100vh;
  width: 100vw;
  background-color: white;
}

.users:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  cursor: pointer;
  border-color: #2b3039;
}

::-webkit-scrollbar {
  display: none;
}
