.fullPage {
  width: 100vw;
  height: 100vh;
  /* background-color: #fe8033; */
  background-color: "white";
}

.navbar {
  background-color: #272b34;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 1;
}

body {
  width: 100%;
  height: 100%;
  position: relative;
  font-family: "Varela Round";
}

.productListing {
  margin-top: 9vh;
  width: 100vw;
  height: 90vh;
}
